
<div *ngIf="!isTokenPresent">
  <button (click)="loginClc()">LOGIN ME</button>
  <button (click)="registerClc()">REGISTER ME</button>
</div>
<div *ngIf="isTokenPresent">
  <button (click)="logoutClc()">LOG OUT</button>
</div>


<div>
  <div *ngIf="isLoginClicked">
    <form #loginForm="ngForm" (ngSubmit)=login(loginForm.form.value)>
      <input type="email" name="email" placeholder="example@site.com" required ngModel>
      <input type="password" name="password" placeholder="******" required ngModel>
      <input type="radio" ngModel id="logUser"
             name="credentials" value="1">
      <label for="logUser">User</label>

      <input type="radio" ngModel id="logDoctor"
             name="credentials" value="2">
      <label for="logDoctor">Doctor</label>
      <br>

      <input type="submit" value="OK">
    </form>

  </div>



  <div *ngIf="isRegisterClicked">
    <form #registerForm="ngForm" (ngSubmit)=register(registerForm.form.value)>
      <input type="text" name="name" placeholder="Name" required ngModel>
      <input type="text" name="surname" placeholder="Surname" required ngModel>
      <input type="email" name="email" placeholder="example@site.com"  required ngModel>
      <input type="password" name="password" placeholder="******" required ngModel>
      <input type="radio" ngModel id="regUser"
             name="credentials" value="1">
      <label for="regUser">User</label>

      <input type="radio" ngModel id="regDoctor"
             name="credentials" value="2">
      <label for="regDoctor">Doctor</label>
      <br>
<!--        <label for="section_id">Section</label>-->
<!--        <select name="section_id" id="section_id">-->
<!--          <option ngModel *ngFor="let section of sections" value="{{section.id}}">{{section.section}}</option>-->
<!--        </select>-->
<!--      <br>-->
      <input type="submit" value="OK">
    </form>
  </div>
</div>

<div>
  <label>Doctor name: </label>
  <label>
    <input type="text"
           #search
           name = "search"
    >
  </label>
  <button (click)="searchDoctors(search.value)">Search</button>

  <ul>
    <li *ngFor="let doctor of foundDoctors"><a routerLink="doctor" (click)="setDoctor(doctor.id)">{{doctor.name}} {{doctor.surname}}</a></li>
  </ul>

</div>

<router-outlet></router-outlet>


